.navbar {
  z-index: 10;
  padding-inline: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: var(--background-color), $alpha: 0.95);
}

.navLogo {
  font-size: 2.4rem;

  .disclaimer {
    font-size: 1rem;
    color: red;
  }
}

.navItems {
  display: flex;
  list-style: none;
  gap: 1.4rem;

  li {
    font-size: 1.6rem;

    a {
      color: rgba($color: var(--text-color), $alpha: 0.75);

      &:hover {
        color: rgba($color: var(--text-color), $alpha: 1);
      }
    }
  }
}

.menuButton {
  position: relative;
  z-index: 26;
  font-size: 2.4rem;
  color: rgba($color: var(--text-color), $alpha: 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
  background-color: rgba($color: var(--background-color), $alpha: 0.75);
}

.mobileMenu {
  height: 100%;
  width: 100%;
  font-size: 2.4rem;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
