.navbar {
  padding-inline: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 82px;
}

.navLogo {
  font-size: 2.4rem;

  .disclaimer {
    font-size: 1rem;
    color: red;
  }
}

.navItems {
  display: flex;
  list-style: none;
  gap: 1.4rem;

  li {
    font-size: 1.6rem;

    a {
      color: rgba($color: var(--text-color), $alpha: 0.75);

      &:hover {
        color: rgba($color: var(--text-color), $alpha: 1);
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navItems {
    flex-direction: column;
    gap: 1rem;
  }
}
