---
import Blog from "@/layouts/Blog.astro";
---

<Blog title="Greetings">
  <h1>Greetings!</h1>
  <div class="metadata">
    <author>Aidan Tilgner</author>
    <time datetime="2022-01-11">January 11th, 2023</time>
  </div>
  <p class="caption">Welcome to my blog, where I talk about things.</p>
  <h2>Who am I?</h2>
  <p>
    My name is Aidan Tilgner. I'm a Software Engineer, and a person who thinks
    about things sometimes. I use this blog to write about those things, in
    order to gain a better understanding of certain topics, and maybe even help
    someone else do the same.
  </p>
  <p>
    This is gonna be a short post, because it's way too late already, but I
    wanna provide some ways to see my stuff. The footer already has links to
    most of my content, but you can find my Medium blog <a
      href="https://aidan-tilgner.medium.com/">here</a
    >. I also have a <a href="https://www.linkedin.com/in/aidan-tilgner/"
      >LinkedIn</a
    > if you'd like to connect. You can also find my development projects on
    <a href="https://github.com/AidanTilgner">Github</a>.
  </p>
  <p>
    If you'd like to contact me directly, reach out via my email. It's <a
      href="mailto:aidantilgner02@gmail.com">aidantilgner02@gmail.com</a
    >. Also feel free to talk to my chatbot by clicking the button in the bottom
    right. I'd love feedback on it!
  </p>
</Blog>
