---
import { default as ArticleCard } from "@/components/Cards/Article.svelte";
import Layout from "@/layouts/Layout.astro";
import type { Article } from "@/types/main";
const posts: Article[] = [
  {
    title: "Greetings",
    slug: "greetings",
    caption: "Hey there, welcome to my blog!",
    author: "Aidan Tilgner",
    date: "January 11, 2023",
  },
];
---

<Layout title="Aidan Tilgner | Blog">
  <main>
    <div class="header">
      <h2 class="title">Blog</h2>
    </div>
    <hr />
    <section class="articles">
      {
        posts.map((p) => {
          return <ArticleCard article={p} client:load />;
        })
      }
    </section>
  </main>
</Layout>

<style lang="scss">
  .articles {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
</style>
