@use "./variables" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin default-padding {
  padding: 0 36px;

  @include tablet {
    padding: 0 48px;
  }

  @include desktop {
    padding: 0 72px;
  }
}

@mixin text-gradient {
  background-image: linear-gradient($accent, $pretty-purple);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
  animation: shimmer 3s ease infinite;

  @keyframes shimmer {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
}

@mixin background-gradient {
  @keyframes shimmer {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }

  background-image: linear-gradient($accent, $pretty-purple);
  animation: shimmer 3s ease infinite;
  background-size: 400%;
  background-position: 0%;
}
