---
import Layout from "../layouts/Layout.astro";
---

<script>
  const JOB_TITLE_ELEMENT = document.getElementById("job-title");
  const jobTitles = [
    "Software Engineer",
    "Web Designer",
    "Full Stack Developer",
    "System Architect",
  ];

  let allowCursorBlink = false;

  const displayJobTitle = (jt: string) => {
    if (!JOB_TITLE_ELEMENT) {
      return;
    }
    // run the animation, type out the job title, and have a blinking rectangle as a cursor
    JOB_TITLE_ELEMENT.innerHTML = "";
    const typeOut = (text: string, i: number) => {
      if (i >= text.length) {
        allowCursorBlink = true;
        return;
      }
      JOB_TITLE_ELEMENT.innerHTML = text.substring(0, i + 1);
      setTimeout(() => {
        typeOut(text, i + 1);
      }, 100);
    };
    typeOut(jt, 0);
  };

  displayJobTitle(jobTitles[0]);

  let currentIndex = 0;

  setInterval(() => {
    const randomIndex = Math.floor(Math.random() * jobTitles.length);
    if (randomIndex === currentIndex) {
      return;
    }
    allowCursorBlink = false;
    currentIndex = randomIndex;
    displayJobTitle(jobTitles[randomIndex]);
  }, 5000);

  setInterval(() => {
    if (!allowCursorBlink) {
      return;
    }
    const cursor = document.getElementById("cursor");
    if (!cursor) {
      return;
    }
    cursor.style.opacity = cursor.style.opacity === "0" ? "1" : "0";
  }, 500);
</script>

<Layout title="Home">
  <main>
    <h1 class="catchy-line">Hey, I'm Aidan</h1>
    <h2 class="code job-title">
      <span id="job-title"></span><span id="cursor"></span>
    </h2>
  </main>
</Layout>

<style lang="scss">
  main {
    text-align: left;
    padding: 2.4rem 3.6rem;

    @media (min-width: 768px) {
      padding: 4.8rem 12.4rem;
    }
  }

  .catchy-line {
    margin-bottom: 1.8rem;
  }

  .job-title {
    display: inline-block;

    #job-title {
      opacity: 0.5;
    }
  }

  #cursor {
    display: inline-block;
    width: 1.6rem;
    height: 2.8rem;
    vertical-align: middle;
    opacity: 0.75;
    background-color: rgba(var(--text-color), 1);
  }
</style>
