---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Primary from "../components/Buttons/Primary.svelte";
import Secondary from "../components/Buttons/Secondary.svelte";
---

<Layout title="Aidan Tilgner">
  <main>
    <section class="hero">
      <div class="text">
        <h2>Hello there...</h2>
        <h2>I'm <strong>Aidan</strong></h2>
        <p class="tagline">
          Software <span class="text-gradient bolder">Developer</span>
        </p>
      </div>
      <div class="buttons">
        <div class="button">
          <Primary>Let's Talk</Primary>
        </div>
        <div class="button">
          <Secondary>My Work</Secondary>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;

    h2 {
      font-size: 36px;
      font-weight: 300;
      margin: 0;
      margin-bottom: 24px;
    }
  }

  .tagline {
    font-size: 28px;
    font-weight: 300;
    margin-top: 56px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button {
      margin-bottom: 14px;
    }
  }
</style>
