---
import Layout from "../layouts/Layout.astro";
import Primary from "../components/Buttons/Primary.svelte";
import Secondary from "../components/Buttons/Secondary.svelte";
import SkillCard from "../components/Cards/Skill.svelte";
import Resume from "../assets/files/aidan-tilgner-resume.pdf";
import Shuffle from "../components/Text/Shuffle.svelte";
---

<script>
  const scrollarea = document.getElementById("scrollarea");
  window.addEventListener("scroll", (e) => {
    console.log("Scrolling");
    e.preventDefault();
    // scroll by 100vh smoothly either up or down
    scrollarea?.scrollBy({
      top: window.innerHeight,
      behavior: "smooth",
    });
  });
</script>

<Layout title="Aidan Tilgner">
  <main id="scrollarea">
    <section class="hero">
      <div class="text">
        <h2 class="subtitle">Hello there...</h2>
        <h2 class="subtitle">I'm <strong>Aidan</strong></h2>
      </div>
      <p class="tagline">
        <Shuffle
          client:load
          options={[
            {
              text: `Software <span class="bolder accented">Developer</span>`,
            },
            {
              text: `Software <span class="bolder accented">Engineer</span>`,
            },
            {
              text: `Web <span class="bolder accented">Developer</span>`,
            },
            {
              text: `Software <span class="bolder accented">Architect</span>`,
            },
            {
              text: `Web <span class="bolder accented">Designer</span>`,
            },
          ]}
        />
      </p>
      <div class="buttons">
        <a class="button" href="/contact">
          <Primary>Let's Talk</Primary>
        </a>
        <a class="button" href="/projects">
          <Secondary
            props={{
              size: "lg",
            }}>My Work</Secondary
          >
        </a>
      </div>
    </section>
    <section class="skills">
      <div class="text">
        <h2 class="subtitle bolder">
          My <strong class="accented">Skills</strong>
        </h2>
      </div>
      <div class="skills-list">
        <SkillCard
          props={{
            title: "React",
            description: `
              A <span class="accented bolder">popular</span> and <span class="accented bolder">highly supported</span> frontend framework
              for building <span class="accented bolder">high quality user interfaces</span>.
            `,
            icon: {
              name: "blue-react-icon",
              type: "custom",
              href: "https://reactjs.org/",
            },
            endpoint: "/projects?skill=react",
            border: {
              color: "#3d6eff",
              caption: "Most Experience",
            },
          }}
          client:load
        />
        <SkillCard
          props={{
            title: "TypeScript",
            description: `
            A strongly typed superset of <span class="accented bolder">JavaScript</span> that
            allows for <span class="accented bolder">better maintainability</span> and <span class="accented bolder">reusability</span> of code.
            `,
            icon: {
              name: "blue-ts-icon",
              type: "custom",
              href: "https://www.typescriptlang.org/",
            },
            endpoint: "/projects?skill=typescript",
            // border: {
            //   color: "#3d6eff",
            //   caption: "Personal Favorite",
            // },
          }}
          client:load
        />
        <div class="last">
          <SkillCard
            props={{
              title: "Golang",
              description: `
                A <span class="accented bolder">highly performant</span> compiled programming language
                that is use to build <span class="accented bolder">scalable</span> and 
                <span class="accented bolder">reliable</span> software.
            `,
              icon: {
                name: "blue-golang-icon",
                type: "custom",
                href: "https://go.dev/",
              },
              endpoint: "/projects?skill=golang",
              // border: {
              //   color: "#3d6eff",
              //   caption: "Most Experience",
              // },
            }}
            client:load
          />
        </div>
        <div class="last">
          <SkillCard
            props={{
              title: "Svelte",
              description: `
              A <span class="accented bolder">lighting</span> fast, <span class="accented bolder">reactive</span> framework for building
              <span class="accented bolder">web apps</span> with excellent <span class="accented bolder">developer</span>
              and <span class="accented bolder">user experiences</span>.
            `,
              icon: {
                name: "blue-svelte-icon",
                type: "custom",
                href: "https://svelte.dev/",
              },
              endpoint: "/projects?skill=svelte",
              // border: {
              //   color: "#3d6eff",
              //   caption: "Most Experience",
              // },
            }}
            client:load
          />
        </div>
      </div>
      <div class="buttons">
        <a download href={Resume}>
          <Primary>My Resume</Primary>
        </a>
        <a href="/skills">
          <Secondary props={{ size: "lg" }}>See More</Secondary>
        </a>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  @use "../styles/variables" as *;
  @use "../styles/mixins" as *;
  section {
    height: 100vh;
    background-color: #fff;
    box-sizing: border-box;
    // add a small inset box shadow to the top of the section
    // to create a subtle shadow effect
    box-shadow: inset 0 24px 36px -10px rgba(0, 0, 0, 0.1);

    &:nth-child(even) {
      // background-color: #f9f9f9;
    }

    &:first-child {
      box-shadow: none;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-block: 36px;

    @include tablet {
      padding-block: 56px;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include tablet {
        flex-direction: row;

        .subtitle {
          margin-inline: 8px;
        }
      }
    }

    .tagline {
      font-size: 28px;
      font-weight: 300;
      // margin-top: 56px;
      text-align: center;

      @include tablet {
        font-size: 36px;
        text-align: left;
      }

      @include desktop {
        font-size: 56px;
        margin-top: 0;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-top: 56px;

      @include tablet {
        // margin-top: 56px;
        flex-direction: row;
        align-items: center;
      }

      a {
        margin-bottom: 14px;

        @include tablet {
          margin-bottom: 0;
          margin-right: 14px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-block: 36px;

    @include tablet {
      padding-block: 56px;
    }

    .text {
    }

    &-list {
      // css grid with full length columns on mobile
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 24px;
      margin-top: 24px;
      // on mobile also cut off the last row of cards
      // to make space for a button
      .last {
        display: none;

        @include tablet {
          display: block;
        }
      }

      @include tablet {
        // css grid with 2 columns on desktop
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 36px;
        margin-top: 36px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 56px;

      @include tablet {
        margin-top: 56px;
        flex-direction: row;
        align-items: center;
      }

      a {
        margin-bottom: 14px;

        @include tablet {
          margin-bottom: 0;
          margin-right: 14px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
</style>
