---
import Layout from "../layouts/Layout.astro";
import View from "../components/PettingZoo";
---

<Layout title="Petting Zoo">
  <main>
    <h1>Petting Zoo</h1>
    <br />
    <div class="animals">
      <View client:load />
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    min-height: 200vh;
    padding: 2.4rem;

    h1 {
      font-size: 3.6rem;
      text-align: center;
    }

    a {
      font-size: 1.8rem;
    }
  }
</style>
