.message_display {
  padding: 0;
  height: 100%;
  text-align: left;
  position: relative;
}

p {
  padding: 0;
  margin: 0;
}

.character {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;

  pre {
    font-size: 0.75rem;
    margin-bottom: 1.4rem;
    white-space: pre;
  }

  &.with_message {
    top: initial;
    bottom: 0;
    right: 0;
    height: 20%;

    pre {
      font-size: 0.6rem;
    }
  }
}

.message {
  font-size: 2.4rem;
  height: 80%;
  box-sizing: border-box;
  overflow-y: scroll;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--text-color), 0.15) transparent;
}
