---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects">
  <main>
    <span class="wip">*Work in Progress</span>
    <section class="active-projects">
      <h1>Active Projects</h1>
    </section>
    <section class="project-graveyard">
      <h1>Project Graveyard</h1>
    </section>
  </main>
</Layout>
