.animal {
  padding: 1.4rem;
  position: relative;
}

.background {
  position: absolute;
  left: 0;
  bottom: 0;

  pre {
    white-space: pre;
    opacity: 0.25;
  }
}

.animal_itself {
  position: absolute;
  bottom: 0;

  pre {
    font-weight: 600;
  }
}

.description {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  text-align: left;
}
