.animal {
  padding: 1.4rem;
  position: relative;
}

.background {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;

  pre {
    white-space: pre;
    opacity: 0.25;
  }
}

.animal_itself {
  position: absolute;
  bottom: 0;
  cursor: grab;
  z-index: 4;

  pre {
    font-weight: 600;
  }
}

.metadata {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.name {
  font-size: 1.6rem;
}

.total_pets {
  opacity: 0.5;
  font-size: 1.6rem;
}

.description {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  text-align: left;
  position: relative;
  z-index: 5;
}
