---
import Layout from "@/layouts/Layout.astro";
import Skill from "@/components/Cards/Skill.svelte";
---

<Layout title="Aidan Tilgner | Skills">
  <div class="header">
    <h2 class="title">My <span class="accented bolder">Skills</span></h2>
  </div>
  <hr />
</Layout>

<style lang="scss">
  .header {
    margin: 36px 0;
  }
</style>
