---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Cool Stuff">
  <main>
    <section>
      <h1>Cool Stuff</h1>
      <p>Here's some cool I've found.</p>
    </section>
    <section>
      <ul>
        <li><a href="/cool-stuff/links">Links</a></li>
      </ul>
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    padding: 1.4rem 2.4rem;
  }

  section {
    margin-bottom: 3.6rem;
  }

  p {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 3.6rem;
    margin-bottom: 1.4rem;
  }

  ul {
    margin: 0;
  }

  li {
    margin-bottom: 0.8rem;
    font-size: 2.4rem;
  }
</style>
