---
import Navbar from "../components/Navigation/Navbar/Navbar";
import type { MarkdownLayoutProps } from "astro";
import type { BlogPost } from "../types/main.d";
type Props = MarkdownLayoutProps<BlogPost>;

const {
  frontmatter: {
    title,
    author,
    description,
    postdate,
    updatedate,
    tags,
    image,
  },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Software Engineer, using the latest technologies to bring the world better services."
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Inter:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <title>{title} | Aidan's Site</title>
  </head>
  <body>
    <Navbar client:load />
    <slot />
    <style lang="scss" is:global>
      html {
        --background-color: 0, 0, 0;
        --text-color: 255, 255, 255;
        --primary-color: 8, 2, 245;
        --accent-color: 135, 9, 232;
        --font-family: "Inter", sans-serif;
        --code-font-family: "Fira Code", monospace;
        font-size: 10px;
      }

      body {
        background-color: rgb(var(--background-color));
        color: rgb(var(--text-color));
        font-family: var(--font-family);
        padding: 0;
        padding-block-start: 82px;
      }

      * {
        box-sizing: border-box;
      }

      a {
        color: rgb(var(--primary-color));
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .pill {
        background-color: rgba(var(--primary-color), 0.1);
        border-radius: 1rem;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
      }
    </style>
  </body>
</html>
